<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Ideas - Conjunctive Normal Form</title>
	<meta name="description" content="">

	<script src="logind.bundle.js" type="text/javascript"></script>

	<link rel="stylesheet" href="css/ideas.css">
</head>

<body class="logind-body">
<!--[if lt IE 9]>
	<p class="alert alert-error">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
<![endif]-->
	<div class="row title">
		<div class="col-9">
			<h4 id="exercise-title" translate-key="logind.title"></h4>
		</div>
		<div class="col-3">
			<div class="dropdown">
				<button class="btn btn-outline-secondary dropdown-toggle float-right" type="button" id="select-exercise" translate-key="shared.button.selectExercise" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
				<div class="dropdown-menu" aria-labelledby="select-exercise" id="new-exercise-menu"></div>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="alert alert-primary col-12" id="instruction-alert" role="alert">
			<i class="fas fa-info-circle"></i> <span id="instruction" translate-key="logind.instruction.begin"></span>
		</div>
	</div>

	<div id="exercise-container" style="display: none">
		<div class="row">
			<div class="col-5" id="case-container">
				<table class="table table-striped">
					<thead>
						<tr id="exercise-table-header">
							<th scope="col" id="header-relation"></th>
							<th scope="col" id="header-formula" translate-key="shared.header.formula" style="width: 55%"></th>
							<th scope="col" id="header-motivation" translate-key="shared.header.motivation"></th>
						</tr>
					</thead>
					<tbody id="exercise-case-table">
					</tbody>
				</table>
			</div>

			<div class="col-7">
				<div id="rule-container" style="display: none">
					<table style="width: 100%">
						<thead>
							<tr>
								<td style="width: 20%"></td>
								<td><select id="rule" class="form-control input custom-select"></select></td>
								<td style="width: 20%"></td>
							</tr>
						</thead>
						<tbody id="exercise-step-table">
							<!-- Assumption -->
							<tr id="active-step">
								<td><select id="relation" class="form-control input custom-select">
									<option value="≤">≤</option>
									<option value="<">&lt;</option>
									<option value="=">=</option>
									<option value="≥">≥</option>
									<option value=">">&gt;</option>
								</select></td>
								<td><form class="kbinput">
									<input type="text" class="form-control kbinput" id="formula">
									<div id="formula-input" class="kbinput-wrapper"></div>
								</form></td>
								<td><select id="motivation" class="form-control input custom-select">
								</select></td>
							</tr>
							<tr id="add-row">
								<td>
									<button id="move-step-up" type="button" class="btn btn-sm btn-outline-secondary"><i class='fas fa-chevron-up'></i></button>
									<button id="move-step-down" type="button" class="btn btn-sm btn-outline-secondary"><i class='fas fa-chevron-down'></i></button>
								</td>
								<td>
									<button id="insert-step-above" type="button" class="btn btn-outline-secondary" translate-key="shared.button.insertStepAbove"></button>
									<button id="insert-step-below" type="button" class="btn btn-outline-secondary" translate-key="shared.button.insertStepBelow"></button>
								</td>
								<td>
									<button id="delete-step" type="button" class="btn btn-outline-secondary btn-sm float-right delete-step"><i class='fas fa-times'></i></button>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- <tr >
						<td colspan="4" class="no-row-divider"> -->
							<div class="row" id="exercise-alert-container" style="display: none">
								<div class="alert col-12" id="exercise-alert" role="alert">
									<span id="exercise-alert-icon"></span>&nbsp;<span id="exercise-alert-span"></span>
									<button id="exercise-alert-dismiss" type="button" class="close float-right" aria-label="Close">
									    <span aria-hidden="true">&times;</span>
									</button>
									<button type='button' id='exercise-alert-button' class='btn btn-sm btn-dark float-right'></button>
								</div>
							</div>
						<!-- </td>
					</tr> -->
					<div id="logind-actions">
						<button class="btn btn-outline-secondary dropdown-toggle" type="button" id="help-menu" translate-key="shared.button.help" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu" aria-labelledby="help-menu">
							<button type="button" class="dropdown-item" id="show-hint"  translate-key="shared.button.hint" style="display: none"></button>
							<button type="button" class="dropdown-item" id="show-next-step" translate-key="shared.button.step" style="display: none"></button>
							<button type="button" class="dropdown-item" id="solve-exercise" translate-key="shared.button.solveExercise" style="display: none"></button>
							<button type="button" class="dropdown-item" id="complete-exercise" translate-key="shared.button.completeExercise"></button>
						</div>
						<button type="button" id="validate-step" class="btn btn-outline-secondary" translate-key="shared.button.send"></button>
						<button type="button" id="check-step" class="btn btn-outline-secondary" translate-key="shared.button.check"></button>
					</div>
				</div>
				<div id="completed-rule-container" style="display: none">
					<span translate-key="logind.completed"></span>
					<button type="button" id="renumber-step" class="btn btn-outline-secondary" translate-key="logind.button.renumber"></button>
					<button type="button" class="btn btn-outline-secondary" id="show-solve-exercise" translate-key="shared.button.solveExercise"></button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<div class="spinner-border" role="status" id="wait-exercise" style="display: none">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>

		<div class="row" id="bottom">
			<div class="col-12">

		</div>

		<!-- templates, see http://borismoore.github.com/jsrender/demos/index.html, http://msdn.microsoft.com/en-us/magazine/hh882454.aspx and
			http://msdn.microsoft.com/en-us/magazine/hh975379.aspx

			BHR+JOL: Some features are disabled by using (&& false)
			-->
		<script id="exercise-case-header-template" type="text/x-jsrender">
			<tr><td colspan="2"><h6 translate-key="logind.case.header.{{:title}}"></h6></td><td><span class="float-right">
				{{if status === "complete"}}<i class='fas fa-check'></i> Complete{{/if}}
				{{if status === "incomplete"}}<i class='fas fa-ellipsis-h'></i> In progress{{/if}}
				{{if status === "notStarted"}}Not started{{/if}}
			</span></td></tr>
		</script>
		<script id="exercise-case-message-template" type="text/x-jsrender">
			<tr><td colspan="3">
				<i translate-key="logind.case.message.{{:key}}"></i>
			</td></tr>
		</script>
		<script id="exercise-step-template" type="text/x-jsrender">
			<tr><td colspan="2"><b translate-key="logind.case.label" translate-params='{{:titleParams}}'></b></td><td>
				<button type="button" class="btn btn-outline-secondary btn-sm float-right delete-case"><i class='fas fa-times'></i></button>
				<button type="button" class="btn btn-outline-secondary btn-sm float-right edit-case"><i class='fas fa-edit'></i></button>
			</td></tr>
			{{for steps}}
				<tr>{{:}}</tr>
			{{/for}}
		</script>
		<script id="exercise-active-step-template" type="text/x-jsrender">
			<td>{{if relation !== null}}<select disabled class="form-control input custom-select">
				<option selected>{{:relation}}</option>
			</select>{{/if}}</td>
			<td>
				<div class="form-control step-formula">
					{{if isEmptyFormula}}<i class="placeholder-text">formula</i>{{else}}{{:formula}}{{/if}}
				</div>
			</td>
			<td>{{if motivation !== null}}<select disabled class="form-control input custom-select">
				<option selected>{{:motivation}}</option>
			</select>{{/if}}</td>
		</script>
		<script id="exercise-case-step-template" type="text/x-jsrender">
			<td>{{:relation}}</td>
			<td>{{if isEmptyFormula}}<i class="placeholder-text">formula</i>{{else}}{{:formula}}{{/if}}</td>
			<td>{{if motivation !== null}}({{:motivation}}){{/if}}</td>
		</script>
	</div>
</body>
</html>
