<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Ideas - Conjunctive Normal Form</title>
	<meta name="description" content="">
	<!-- <meta name="viewport" content="width=1020"> -->

	<script src="oneWay.bundle.js" type="text/javascript"></script>

	<link rel="stylesheet" href="css/ideas.css">
</head>

<body class="oneWay-body">
<!--[if lt IE 9]>
	<p class="alert alert-error">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
<![endif]-->
	<div class="row title">
		<div class="col-9">
			<h4 id="exercise-title"></h4>
		</div>
		<div class="col-3">
			<div class="dropdown">
				<button class="btn btn-outline-secondary dropdown-toggle float-right" type="button" id="select-exercise" translate-key="shared.button.selectExercise" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
				<div class="dropdown-menu" aria-labelledby="select-exercise" id="new-exercise-menu"></div>
			</div>
		</div>
	</div>

	<div class="row" style="display: none">
		<div id="rule-switch-div" class="col-2 align-items-center" style="display: none">
			<span>
				<input id="rule-switch" type="checkbox">
				<label id="rule-switch-label" for="rule-switch"></label>
			</span>
		</div>
		<div id="step-validation-switch-div" class="col-2 align-items-center" style="display: none">
			<span>
				<input id="step-validation-switch" type="checkbox">
				<label id="step-validation-switch-label" for="step-validation-switch"></label>
			</span>
		</div>
		<div class="col-8">
			&nbsp;
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="alert alert-primary col-12" id="instruction-alert" role="alert">
			<i class="fas fa-info-circle"></i> <span id="instruction" translate-key="oneWay.instruction.begin"></span>
		</div>
	</div>

	<div id="new-exercise-container" style="display: none">
		<div class="row">
			<div>
				<form class="kbinput">
					<input type="text" class="form-control kbinput" id="new-formula">
					<div id="new-input" class="kbinput-wrapper"></div>
				</form>
			</div>
			<button type="button" id="create-exercise" translate-key="shared.button.createExercise" class="btn btn-outline-secondary"></button>
			<div class="row" id="new-exercise-alert-container" style="display: none">
				<div class="alert col-12" id="new-exercise-alert" role="alert">
					<span id="new-exercise-alert-icon"></span>&nbsp;<span id="new-exercise-alert-span"></span><button type='button' id='new-exercise-alert-button' class='btn btn-dark float-right'></button>
				</div>
			</div>
		</div>
	</div>

	<div id="exercise-container" style="display: none">
		<table class="table table-striped">
			<thead>
				<tr id="exercise-table-header">
					<th scope="col" id="header-step" translate-key="shared.header.step"></th>
					<th scope="col" id="header-formula" translate-key="shared.header.formula" style="width: 55%"></th>
					<th scope="col" id="header-rule" translate-key="shared.header.rule"></th>
					<th scope="col" id="header-actions" translate-key="shared.header.actions"></th>
				</tr>
			</thead>
			<tbody id="exercise-step-table">
				<tr id="active-step">
					<td class="col-step">
						<div class="active-circle circle"><span id="active-step-number"></span></div>
						<span class="katex"><span class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mo>⇔</mo></mrow><annotation encoding="application/x-tex">\Leftrightarrow</annotation></semantics></math></span><span class="katex-html" aria-hidden="true"><span class="base"><span class="strut" style="height:0.36687em;vertical-align:0em;"></span><span class="mrel">⇔</span></span></span></span>
					</td>
					<td class="col-formula">
						<form class="kbinput">
							<input type="text" class="form-control kbinput" id="formula">
							<input type="hidden" id="formulaoriginal">
							<div id="one-way-input" class="kbinput-wrapper"></div>
						</form>
					</td>
					<td class="col-rule">
						<select id="rule" class="form-control input custom-select"></select>
					</td>
					<td class="col-actions">
						<button type="button" id="validate-step" class="btn btn-outline-secondary float-right" translate-key="shared.button.validateStep"></button>
						<button class="btn btn-outline-secondary dropdown-toggle float-right" type="button" id="help-menu" translate-key="shared.button.help" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

						</button>
						<div class="dropdown-menu" aria-labelledby="help-menu">
							<button type="button" class="dropdown-item" id="show-hint"  translate-key="shared.button.hint" style="display: none"></button>
							<button type="button" class="dropdown-item" id="show-next-step" translate-key="shared.button.step" style="display: none"></button>
							<button type="button" class="dropdown-item" id="solve-exercise" translate-key="shared.button.solveExercise" style="display: none"></button>
						</div>
					</td>
				</tr>
				<tr id="exercise-alert-container" style="display: none">
					<td colspan="4" class="no-row-divider">
						<div class="row">
							<div class="alert col-12" id="exercise-alert" role="alert">
								<span id="exercise-alert-icon"></span>&nbsp;<span id="exercise-alert-span"></span><button type='button' id='exercise-alert-button' class='btn btn-dark float-right'></button>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<div class="spinner-border" role="status" id="wait-exercise" style="display: none">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>

		<div class="row" id="bottom">
			<div class="col-12">
			<button type="button" id="validate-exercise" class="btn btn-danger float-right"></button>
			<button type="button" class="btn btn-outline-secondary float-right" id="show-solve-exercise" translate-key="shared.button.solveExercise" style="display: none"></button>
		</div>

		<!-- templates, see http://borismoore.github.com/jsrender/demos/index.html, http://msdn.microsoft.com/en-us/magazine/hh882454.aspx and
			http://msdn.microsoft.com/en-us/magazine/hh975379.aspx

			BHR+JOL: Some features are disabled by using (&& false)
			-->
		<script id="exercise-step-template" type="text/x-jsrender">
			<td scope="row" class="col-step">
				<div class="circle">{{>step}}</div> {{:arrow}}
			</td>
			<td class="col-formula">
				<span class="oneway-formula">{{:formula}}</span>
			</td>
			<td class="col-rule">
				{{if ruleJustification && rule }}
					<span class="step-rule" translate-key="{{:ruleKey}}">{{>rule}}</span>
				{{/if}}
			</td>
			<td class="remove-step col-actions">
				{{if canDelete && step > 0}}
					<button type="button" class="btn btn-outline-secondary btn-sm float-right delete-step"><i class='fas fa-times'></i></button>
				{{/if}}
			</td>
		</script>
	</div>
</body>
</html>
