{
  "tools": {
    "DNV": {
      "code": "dnf",
      "source": "logex",
      "url": "oneway.html?exerciseType=DNV",
      "exampleExercises": [0, 1, 2, 3, 4],
      "randomExercises": true,
      "inputOwnExercise": true,
      "useRuleJustification": true,
      "displayRuleJustification": false,
      "useStepValidation": true,
      "displayStepValidation": false,
      "displayHintButton": true,
      "displayNextStepButton": true,
      "displayDerivationButton": true,
      "rules": [
        "logic.propositional.absorption",
        "logic.propositional.assoc",
        "logic.propositional.commutativity",
        "logic.propositional.demorgan",
        "logic.propositional.distribution",
        "logic.propositional.doublenegation",
        "logic.propositional.equivalence",
        "logic.propositional.falsecomplement",
        "logic.propositional.falseconjunction",
        "logic.propositional.falsedisjunction",
        "logic.propositional.nottrue",
        "logic.propositional.idempotency",
        "logic.propositional.implication",
        "logic.propositional.truecomplement",
        "logic.propositional.trueconjunction",
        "logic.propositional.truedisjunction",
        "logic.propositional.notfalse"
      ],
      "bundles": {
        "oneWaySolution": "controller/OneWaySolutionController.js",
        "oneWay": "controller/OneWayController.js"
      }
    },
    "CNV": {
      "code": "cnf",
      "source": "logex",
      "url": "oneway.html?exerciseType=CNV",
      "exampleExercises": [0, 1, 2, 3, 4],
      "randomExercises": true,
      "inputOwnExercise": true,
      "useRuleJustification": true,
      "displayRuleJustification": false,
      "useStepValidation": true,
      "displayStepValidation": false,
      "displayHintButton": true,
      "displayNextStepButton": true,
      "displayDerivationButton": true,
      "rules": [
        "logic.propositional.absorption",
        "logic.propositional.assoc",
        "logic.propositional.commutativity",
        "logic.propositional.demorgan",
        "logic.propositional.distribution",
        "logic.propositional.doublenegation",
        "logic.propositional.equivalence",
        "logic.propositional.falsecomplement",
        "logic.propositional.falseconjunction",
        "logic.propositional.falsedisjunction",
        "logic.propositional.nottrue",
        "logic.propositional.idempotency",
        "logic.propositional.implication",
        "logic.propositional.truecomplement",
        "logic.propositional.trueconjunction",
        "logic.propositional.truedisjunction",
        "logic.propositional.notfalse"
      ],
      "bundles": {
        "oneWaySolution": "controller/OneWaySolutionController.js",
        "oneWay": "controller/OneWayController.js"
      }
    },
    "LOGEQ": {
      "code": "logeq",
      "source": "logex",
      "url": "twoway.html?exerciseType=LOGEQ",
      "exampleExercises": [0, 15, 16, 29, 30],
      "randomExercises": true,
      "inputOwnExercise": true,
      "useRuleJustification": true,
      "displayRuleJustification": false,
      "useStepValidation": true,
      "displayStepValidation": false,
      "displayHintButton": true,
      "displayNextStepButton": true,
      "displayDerivationButton": true,
      "rules": [
        "logic.propositional.absorption",
        "logic.propositional.assoc",
        "logic.propositional.commutativity",
        "logic.propositional.demorgan",
        "logic.propositional.distribution",
        "logic.propositional.doublenegation",
        "logic.propositional.equivalence",
        "logic.propositional.falsecomplement",
        "logic.propositional.falseconjunction",
        "logic.propositional.falsedisjunction",
        "logic.propositional.nottrue",
        "logic.propositional.idempotency",
        "logic.propositional.implication",
        "logic.propositional.truecomplement",
        "logic.propositional.trueconjunction",
        "logic.propositional.truedisjunction",
        "logic.propositional.notfalse"
      ],
      "bundles": {
        "twoWaySolution": "controller/TwoWaySolutionController.js",
        "twoWay": "controller/TwoWayController.js"
      }
    },
    "HELPLOGEX": {
      "code": "helpLogex",
      "url": "helpLogEx.html",
      "bundles": {
        "help": "controller/HelpController.js"
      }
    },
    "HELPLOGAX": {
      "code": "helpLogax",
      "url": "helpLogAx.html",
      "bundles": {
        "help": "controller/HelpController.js"
      }
    }
  },
  "backend_url": "https://ideas.science.uu.nl/cgi-bin/ideas-logic.cgi"
}
