{
  "title": "Ideas - Logic Tools",
  "tools": {
    "DNV": {
      "code": "dnf",
      "source": "logex",
      "url": "oneway.html?exerciseType=DNV",
      "exampleExercises": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
      "randomExercises": true,
      "inputOwnExercise": true,
      "useRuleJustification": true,
      "displayRuleJustification": false,
      "useStepValidation": true,
      "displayStepValidation": false,
      "displayHintButton": true,
      "displayNextStepButton": true,
      "displayDerivationButton": true,
      "rules": [
        "logic.propositional.absorption",
        "logic.propositional.assoc",
        "logic.propositional.commutativity",
        "logic.propositional.demorgan",
        "logic.propositional.distribution",
        "logic.propositional.doublenegation",
        "logic.propositional.equivalence",
        "logic.propositional.falsecomplement",
        "logic.propositional.falseconjunction",
        "logic.propositional.falsedisjunction",
        "logic.propositional.nottrue",
        "logic.propositional.idempotency",
        "logic.propositional.implication",
        "logic.propositional.truecomplement",
        "logic.propositional.trueconjunction",
        "logic.propositional.truedisjunction",
        "logic.propositional.notfalse"
      ],
      "bundles": {
        "oneWaySolution": "controller/OneWaySolutionController.js",
        "oneWay": "controller/OneWayController.js"
      }
    },
    "CNV": {
      "code": "cnf",
      "source": "logex",
      "url": "oneway.html?exerciseType=CNV",
      "exampleExercises": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
      "randomExercises": true,
      "inputOwnExercise": true,
      "useRuleJustification": true,
      "displayRuleJustification": false,
      "useStepValidation": true,
      "displayStepValidation": false,
      "displayHintButton": true,
      "displayNextStepButton": true,
      "displayDerivationButton": true,
      "rules": [
        "logic.propositional.absorption",
        "logic.propositional.assoc",
        "logic.propositional.commutativity",
        "logic.propositional.demorgan",
        "logic.propositional.distribution",
        "logic.propositional.doublenegation",
        "logic.propositional.equivalence",
        "logic.propositional.falsecomplement",
        "logic.propositional.falseconjunction",
        "logic.propositional.falsedisjunction",
        "logic.propositional.nottrue",
        "logic.propositional.idempotency",
        "logic.propositional.implication",
        "logic.propositional.truecomplement",
        "logic.propositional.trueconjunction",
        "logic.propositional.truedisjunction",
        "logic.propositional.notfalse"
      ],
      "bundles": {
        "oneWaySolution": "controller/OneWaySolutionController.js",
        "oneWay": "controller/OneWayController.js"
      }
    },
    "LOGEQ": {
      "code": "logeq",
      "source": "logex",
      "url": "twoway.html?exerciseType=LOGEQ",
      "exampleExercises": [0, 15, 16, 29, 30],
      "randomExercises": true,
      "inputOwnExercise": true,
      "useRuleJustification": true,
      "displayRuleJustification": false,
      "useStepValidation": true,
      "displayStepValidation": false,
      "displayHintButton": true,
      "displayNextStepButton": true,
      "displayDerivationButton": true,
      "rules": [
        "logic.propositional.absorption",
        "logic.propositional.assoc",
        "logic.propositional.commutativity",
        "logic.propositional.demorgan",
        "logic.propositional.distribution",
        "logic.propositional.doublenegation",
        "logic.propositional.equivalence",
        "logic.propositional.falsecomplement",
        "logic.propositional.falseconjunction",
        "logic.propositional.falsedisjunction",
        "logic.propositional.nottrue",
        "logic.propositional.idempotency",
        "logic.propositional.implication",
        "logic.propositional.truecomplement",
        "logic.propositional.trueconjunction",
        "logic.propositional.truedisjunction",
        "logic.propositional.notfalse"
      ],
      "bundles": {
        "twoWaySolution": "controller/TwoWaySolutionController.js",
        "twoWay": "controller/TwoWayController.js"
      }
    },
    "LOGAX": {
      "code": "logax",
      "source": "test.logax",
      "url": "logax.html?exerciseType=LOGAX",
      "exampleExercises": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
      "randomExercises": true,
      "inputOwnExercise": true,
      "displayHintButton": true,
      "displayNextStepButton": true,
      "displayDerivationButton": true,
      "rules": [
        "logic.propositional.axiomatic.assumption",
        "logic.propositional.axiomatic.assumption.close",
        "logic.propositional.axiomatic.axiom-a",
        "logic.propositional.axiomatic.axiom-a.close",
        "logic.propositional.axiomatic.axiom-b",
        "logic.propositional.axiomatic.axiom-b.close",
        "logic.propositional.axiomatic.axiom-c",
        "logic.propositional.axiomatic.axiom-c.close",
        "logic.propositional.axiomatic.modusponens",
        "logic.propositional.axiomatic.deduction.forward",
        "logic.propositional.axiomatic.deduction.backward",
        "logic.propositional.axiomatic.deduction.close",
        "logic.propositional.axiomatic.goal",
        "logic.propositional.axiomatic.lemma",
        "logic.propositional.axiomatic.lemma.close"
      ],
      "bundles": {
        "logax": "controller/LogAxController.js",
        "logaxSolution": "controller/LogAxSolutionController.js"
      }
    },
    "LOGIND": {
      "code": "logind",
      "source": "test.logind",
      "url": "logind.html?exerciseType=LOGIND",
      "exampleExercises": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
      "randomExercises": false,
      "inputOwnExercise": false,
      "displayHintButton": true,
      "displayNextStepButton": true,
      "displayDerivationButton": true,
      "rules": [
        "logic.propositional.logind.baseCase",
        "logic.propositional.logind.hypothesis",
        "logic.propositional.logind.inductiveStep"
      ],
      "bundles": {
        "logind": "controller/LogIndController.js",
        "logindSolution": "controller/LogIndSolutionController.js"
      }
    },
    "HELPLOGEX": {
      "code": "helpLogex",
      "url": "helpLogEx.html",
      "bundles": {
        "help": "controller/BaseController.js"
      }
    },
    "HELPLOGAX": {
      "code": "helpLogax",
      "url": "helpLogAx.html",
      "bundles": {
        "help": "controller/BaseController.js"
      }
    },
    "HELPLOGIND": {
      "code": "helpLogInd",
      "url": "helpLogInd.html",
      "bundles": {
        "help": "controller/BaseController.js"
      }
    },
    "WELCOME": {
      "hidden": true,
      "code": "welcome",
      "url": "welcome.html",
      "bundles": {
        "welcome": "controller/BaseController.js"
      }
    }
  },
  "backend_url": "https://ideas.science.uu.nl/cgi-bin/ideas-logic.cgi"
}
