<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Ideas - Conjunctive Normal Form</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=1020">

        <link rel="stylesheet" href="css/bootstrap.min.css">
		<link href="css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="css/ideas.css">

		<!-- Jquery van CDN, met locale escape als niet beschikbaar -->
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
		<!-- <script>window.jQuery || document.write('<script src="js/lib/jquery-1.10.2.min.js"><\/script>');</script> -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/lib/jquery-1.8.2.min.js"><\/script>');</script>
		<!-- <script src="js/constants.js" type="text/javascript"></script> -->

		<!-- <script src="js/model/rules.js" type="text/javascript"></script> -->
		<!-- <script src="js/model/exerciseTypes.js" type="text/javascript"></script> -->
		<!-- <script src="js/resources.js"></script> -->
		<!-- <script src="js/config.js"></script> -->
		<!-- doh: css voor bootstrap=switch -->
		<link rel="stylesheet" href="css/bootstrap-switch.css">
		<script src="js/lib/modernizr-2.6.1-respond-1.1.0.min.js"></script>
		<!-- <script src="js/logEXSession.js" type="text/javascript"></script> -->
    </head>
        <body class="logexiframe">
        <!--[if lt IE 9]>
            <p class="alert alert-error">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
        <![endif]-->
            <div class="row">
                <div class="span3">
					<div class="v-center">
						<div class="btn-group pull-left">
							<button class="btn btn-primary btn-large" id="generate-exercise"><div id="newexercise"></div></button>
							<button class="btn btn-primary btn-large dropdown-toggle" id="new-exercise-dropdown" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" id="new-exercise-menu">
							</ul>
						</div>
					</div>
                </div>
				<div class="span2 cell">
					<div class="v-center">
						<label id="lblRuleJustification" value=""/>
					</div>

				</div>
				<div class="span2">
					<div class="v-center">
						<div id="ruleswitch" class="make-switch switch-large" data-on-label="AAN" data-off-label="UIT">
							<input type="checkbox" checked="checked">
						</div>
					</div>
				</div>
                <div class="span2 cell">
					<div class="v-center">
						<label id="lblStepValidation" value=""/>
					</div>
				</div>
				<div class="span2">
					<div class="v-center">
						<div id="stepvalidationswitch" class="make-switch switch-large" data-on-label="AAN" data-off-label="UIT">
							<input type="checkbox" checked="checked">
						</div>
					</div>
				</div>
                <div class="span1">
                    &nbsp;
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <p>
						<img id="wait-exercise" src="img/animated_loading.gif" />
					</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="span1">
                </div>
                <div class="span12">
                	<div class="bar pull-left">
						<div id="exercise">
						  <span class="oneway-formula" id="exercise-left-formula"></span>
						</div>
					</div>
                </div>
            </div>

            <div id="exercise-steps" class="row">
				<div class="span12">
					<div id="active-step" class="exercise-step-even">
						<div class="row bar">
                            <div class="span1">
                                <span><img id="equivsign" src="img/equivsignok.png" class="pull-right" width=18></span>
                            </div>
							<div class="span6">
								<form class="form-inline padded-left">

								    <input type="text" class="input-xlarge" id="formula">
									<input type="hidden" id="formulaoriginal">
									<div class="btn-group">
										<button type="button" class="btn btn-warning tight" id="show-hint">&nbsp;<i class="icon-question-sign"></i>&nbsp;</button>
										<button type="button" id="show-next-step" class="btn btn-warning tight" > </button>
									</div>
								</form>
							</div>
							<div class="span3">
								<form class="form-inline pull-right">
									<select id="rule" class="input">
									</select>
								</form>
						   </div>
							<div class="span2">
								<form class="form-inline pull-right">
									<button type="button" id="validate-step" class="btn btn-success"><div id="ok"> </div></button>
								</form>
						   </div>


						</div>
					</div>
			   </div>
            </div>
			<hr>
            <div class="row" id="bottom">
				<div class="span1">
				</div>
                <div class="span11">
					<button type="button" id="solve-exercise" class="btn btn-warning pull-left"><div id="showderivation"> </div></button>
					<button type="button" id="validate-exercise" class="btn btn-success pull-right"><div id="derivationdone"></div></button>
                </div>




            </div>

		<!-- <script src="js/showdiff.js" type="text/javascript"></script> -->
		<script src="js/lib/jsrender.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
		<script src="js/lib/bootstrap-switch.min.js"></script>
		<script type="module" src="js/controller/OneWayController.js" type="text/javascript"></script>
        <!-- <script src="js/model/buggyRules.js" type="text/javascript"></script> -->
<!-- 		<script src="js/model/ideasServiceProxy.js" type="text/javascript"></script>
		<script src="js/model/oneway/exercise.js" type="text/javascript"></script>
		<script src="js/model/oneway/exerciseGenerator.js" type="text/javascript"></script>
		<script src="js/model/oneway/exerciseSolver.js" type="text/javascript"></script>
		<script src="js/model/oneway/step.js" type="text/javascript"></script>
		<script src="js/model/oneway/exerciseValidator.js" type="text/javascript"></script>
		<script src="js/model/oneway/exerciseCreator.js" type="text/javascript"></script>
		<script src="js/model/syntaxValidator.js" type="text/javascript"></script>
		<script src="js/model/oneway/stepCollection.js" type="text/javascript"></script> -->
		<script src="shared/kbinput/kbinput.js"></script>
		<!-- <script src="js/texts.js"></script> -->
		<!-- <script src="js/keyBindings.js"></script> -->

		<!-- templates, see http://borismoore.github.com/jsrender/demos/index.html, http://msdn.microsoft.com/en-us/magazine/hh882454.aspx and
			http://msdn.microsoft.com/en-us/magazine/hh975379.aspx

			BHR+JOL: Some features are disabled by using (&& false)
			-->
		<script id="exercise-step-template" type="text/x-jsrender">
			<div class="exercise-step-even exercise-step-added bar">
				<div class="row">
					<div class="span7">
                        {{if !stepValidation && step > 0}}
                                {{if isWrong}}
                                    <img src="img/wrong.png" height=20 width=20>
									<span class="wrong">{{:error}}</span>
                                {{else}}
                                    <img src="img/correct.png" height=20 width=20>
                                {{/if}}
                        {{/if}}
					</div>
					<div class="span5">
						<p>
							<span class="">&nbsp;</span>
                            {{if step > 0}}
                                {{if isWrong && ruleJustification && false }}
                                    <select class='retryRule'>
                                        {{:ruleCombobox}}
                                    </select>
                                {{else}}
                                    <span>{{>rule}}</span>
                                {{/if}}
                                {{if canDelete && step > 0}}
                                    <button type="button" class="close pull-right remove-top-step close">×</button>
                                {{/if}}
                            {{/if}}
						</p>
				   </div>
				</div>
				<div class="row">
                    <div class="span1">
                        <p>
                            {{if step > 0 && !isWrong}}
                                <span class="arrow pull-right">&#8660;</span>
                            {{/if}}
                            {{if step > 0 && isWrong}}
                                <span class="pull-right">
                                    <img src="img/equivsignerr.png">
                                </span>
                            {{/if}}
						</p>
                    </div>
					<div class="span11">
						<div class="padded-left">
                              {{if isWrong && step > 0}}
                                <input id="retryFormula{{:step}}" type="text" class="input-xlarge retryFormula" value="{{:formula}}"/>
                              {{else}}
                                <span class="oneway-formula">{{:formula}}</span>
                              {{/if}}
							  {{if hasRule}}<label class="equation-sign"></label>{{/if}}
						</div>
					</div>
				</div>
			</div>
		</script>

		<script id="exercise-last-step-template" type="text/x-jsrender">
			<div class="exercise-step-even last-step">
				<div class="row">
					<div class="span12">
						<div class="success">
							  <label class="left-formula">{{:leftformula}}</label>
							  <label class="equation-sign">&#x021D4;</label>
							  <label class="right-formula">{{:rightformula}}</label>
							  <img src="img/tick.png" />
						</div>
					</div>
				</div>
			</div>
		</script>

		<script id="new-exercise-template" type="text/x-jsrender">
			<div id="new-exercise-content">
				<div class="row">
					<div class="span12">
						<div class="exercise-step-even">
								<form class="form-inline padded-left">
									  <input type="text" class="input-xlarge" id="formula" />

									  <!-- <input type="text" class="input-xlarge" id="formula2" rel="popover" /> -->
									  <button type="button" id="create-exercise-button" class="btn btn-success"><div id="create-exercise-button-content"> </div></button>
								</form>
						</div>
					</div>
				</div>
			</div>
		</script>

		<script src="js/lib/iframeResizer.contentWindow.min.js"></script>

<!-- google analytics -->
<!--         <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script> -->
    </body>
</html>
