/* bootstrap overrules */
/* bootstrap overrules */
button.tight {
	padding-right:2px;
	padding-left:2px;
}

.btn.disabled, .btn[disabled] {
	opacity: 0.2;
}

a.spaced {
	padding:0px;
	font-size: 11px;
}

legend {
	border-bottom: 0px;
	padding-bottom: 20px;
}

body {
  	font-family: "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
	font-size: small;
	line-height: 16px;

	margin: auto;
    xmargin-left: 120px;
	padding-top: 60px;
    padding-bottom: 40px;
	min-height: 400px;
}

.logexiframe
{
	font-family: "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
	font-size: small;
	line-height: 16px;
	margin: auto;
	padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #e5e5e5;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
}

.no-space {
    margin-left:0;
}

.container {
	width: 1020px;
}

/*label, input, button, select, textarea {
	font-size: small;
	line-height: 16px;
}*/

/*input[type="text"] {
	font-size: small;
}*/

.pagination {
	height: 34px;
	margin: 14px;
}

.pagination ul > li > a, .pagination ul > li > span {
	padding: 0 12px;
	line-height: 28px;
}

.popover {
	z-index:1050;
}



/*.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 1020px;
}
*/
.cell{
    display:table;
    //border:1px solid gray;
    height:40px;
}

.v-center {
    display:table-cell;
    vertical-align:middle;
}

.h-center {
    display:table-cell;
    text-align:center;
}


/* end bootstrap overrules */
#formula1, #formula2 {
	width:269px;
	padding-right:0px;
}

/* doh: z-index opgehoogd */
div.kbinput-wrapper {
	display: table-row;
}

div.kbinput-wrapper > button {
	margin: 5px 2px;
}

form.kbinput {
	display: table;
	width: 100%;
}

input.kbinput {
	font: normal 1.21em KaTeX_Main,Times New Roman,serif;
	display: table-row;
	width: 100%;
}

#rule {
	width: 100%;
}

.navbar-inner {
	min-height: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.studentid-popover-content .navbar .navbar-inner .nav {
	margin-bottom: 0px;
}

.studentid-popover-content .navbar .nav > li > a {
	padding: 2px 2px 2px;
}





.questionmark {
	position: relative;
	left:14px;
	bottom:4px;
}

.equivalence {
	font-size:18px;
	position:relative;
	top:7px;
	right:5px;
}

.oneven {
	background-color: #F9F9F9;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}

.wrong {
    background-color: #FF8080;
    border-botom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.row {
	margin-left: 15px !important;
	margin-right: 15px !important;
}

.padded-left{
	margin:0 0 0 5px;
}

.padded-top {
	margin:5px 0 0 0px;
}

.left-formula{
	padding: 4px 6px;
	width: 269px;
	display: inline-block;
	text-align:left;
}

.oneway-formula{
    padding: 4px 6px;
    display: inline-block;
    text-align:left;
}

#toggle-hint2, #toggle-hint1 {
	float:right;
	padding-top: 5px;
	padding-bottom: 5px;
}

#auto-step {
	float:right;
	margin-top: 10px;
	margin-bottom: 10px;
}

#formula1{
	text-align:left;
}

#active-step {
	padding-top:30px;
	// doh: verlaagd van 30->10
	padding-bottom:10px;
}

input.success {
	border-color: green;
}

div.success {
	border: 1px solid green;
	/*background-color: rgb(170, 241, 170);*/
}

.form-inline {
	margin: 0 0 0px;
}

.equation-sign{

	width: 20px;
	display: inline-block;
}

.right-formula{
	padding: 4px;
	width: 269px;
	display: inline-block;
}

.arrow {
	font-size:16px;
}

.alert-block {
	width: 541px;
}

/* .remove-top-step, .remove-bottom-step{
	color:red;
	opacity: .8;
}

.remove-top-step:hover, .remove-bottom-step:hover{
	color:red;
	opacity: 1;
} */

/* doh: z-index opgehoogd, zodat tooltip ook in modal verschijnt */
.error{
  z-index:8000;
}

span.error {
	font-weight: bold;
	color: red;

}

input.error, select.error {
	border-color: red;
}

//Team26
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0px;
}

.nav-tabs {
    margin-bottom: 0;
}

.tab.pane {
	border-bottom: 1px solid #ddd;
}

#instruction-alert {
	color: #1D1D1D;
	background-color: #FBFBFB;
	border-color: #C6C6C6;
	border-style: dashed;
}

.hint-alert {
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
}

.error-alert {
	color: #AA4000;
	background-color: #ffcccc;
	border-color: #cc9999;
}

.complete-alert {
	color: #208020;
	background-color: #ccffcc;
	border-color: #99cc99;
}

#header-step {
	padding-left: 15px;
}

.circle {
	float: left;
	margin-right: 6px;
	margin-left: 4px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	color: #222;
	text-align: center;
	background: #999;
	border-color: #222;
}

.active-circle {
	float: left;
	margin-right: 6px;
	margin-left: 4px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	color: #EEE;
	text-align: center;
	background: #2B68D1;
	border-color: #1949AA;
}

th {
	text-transform: uppercase;
}

#validate-step, .remove-step > button {
	margin-right: 17px;
	margin-left: 6px;
}

table {
	border-bottom: 1px solid #E5E5E5;
}
