/* bootstrap overrules */
/* bootstrap overrules */
button.tight {
	padding-right:2px;
	padding-left:2px;
}

.btn.disabled, .btn[disabled] {
	opacity: 0.2;
}

a.spaced {
	padding:0px;
	font-size: 11px;
}

legend {
	border-bottom: 0px;
	padding-bottom: 20px;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif!important;
	font-size: 13px!important;
	line-height: 16px!important;
}

input,
button,
select,
textarea {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 13px;
}

.no-space {
    margin-left:0;
}

.container {
	width: 1020px;
}

.pagination {
	height: 34px;
	margin: 14px;
}

.pagination ul > li > a, .pagination ul > li > span {
	padding: 0 12px;
	line-height: 28px;
}

.popover {
	z-index:1050;
}


.cell{
    display:table;
    //border:1px solid gray;
    height:40px;
}

.v-center {
    display:table-cell;
    vertical-align:middle;
}

.h-center {
    display:table-cell;
    text-align:center;
}


/* end bootstrap overrules */
#formula1, #formula2 {
	width:269px;
	padding-right:0px;
}

/* doh: z-index opgehoogd */
div.kbinput-wrapper {
	display: table-row;
}

div.kbinput-wrapper > button {
	margin: 5px 2px;
}

form.kbinput {
	display: table;
	width: 100%;
}

input.kbinput {
	font: normal 1.21em KaTeX_Main,Times New Roman,serif;
	display: table-row;
	width: 100%;
}

#rule {
	width: 100%;
}

.navbar-inner {
	min-height: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.studentid-popover-content .navbar .navbar-inner .nav {
	margin-bottom: 0px;
}

.studentid-popover-content .navbar .nav > li > a {
	padding: 2px 2px 2px;
}





.questionmark {
	position: relative;
	left:14px;
	bottom:4px;
}

.equivalence {
	font-size:18px;
	position:relative;
	top:7px;
	right:5px;
}

.oneven {
	background-color: #F9F9F9;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}

.wrong {
    background-color: #FF8080;
    border-botom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.row {
	margin-left: 15px !important;
	margin-right: 15px !important;
}

.padded-left{
	margin:0 0 0 5px;
}

.padded-top {
	margin:5px 0 0 0px;
}

.left-formula{
	padding: 4px 6px;
	width: 269px;
	display: inline-block;
	text-align:left;
}

.oneway-formula{
    padding: 4px 12px;
    display: inline-block;
    text-align:left;
}


#auto-step {
	float:right;
	margin-top: 10px;
	margin-bottom: 10px;
}

#formula1{
	text-align:left;
}

#active-step {
	padding-top:30px;
	padding-bottom:10px;
}


input.success {
	border-color: green;
}

div.success {
	border: 1px solid green;
	/*background-color: rgb(170, 241, 170);*/
}

.form-inline {
	margin: 0 0 0px;
}

.equation-sign{

	width: 20px;
	display: inline-block;
}

.right-formula{
	padding: 4px;
	width: 269px;
	display: inline-block;
}

.arrow {
	font-size:16px;
}

.alert-block {
	width: 541px;
}

.error{
  z-index:8000;
}

span.error {
	font-weight: bold;
	color: red;

}

input.error, select.error {
	border-color: red;
}


.tab-content {
    padding: 15px;
}

.nav-tabs {
    margin-bottom: 0;
}

.tab.pane {
	border-bottom: 1px solid #ddd;
}


.alert {
	margin-bottom: 15px;
	padding: 7px 15px;
	border: 1px dashed transparent;
	border-radius: 4px;
	font-size: 12px;
}

.alert svg {
	margin-right: 10px;
}

.alert-primary {
    border-color: #b8b8b8;
    background: #fcfcfc;
	color:#000;
}


.hint-alert {
	font-weight: 600;
	color: #fff;
	background-color: #1665d8;
	border-color:#1665d8;
}

.hint-alert #exercise-alert-icon,
.hint-alert #exercise-alert-span {
	margin-top:4px;
	display: inline-block;
}

.hint-alert svg {
	margin-right: 10px;
	font-size: 12px;
	vertical-align: -.125em;
}

.alert .close {
	margin-left: 10px;
	line-height: 1!important;
}

#toggle-hint2,
#toggle-hint1 {
	float:right;
	color:#fff;
}

.error-alert {
	font-weight: 600;
	color: #000;
	background-color:#ffd7dc;
	border:0;
}

.error-alert #new-exercise-alert-icon,
.error-alert #new-exercise-alert-span,
.error-alert #exercise-alert-icon,
.error-alert #exercise-alert-span {
	margin-top:4px;
	display: inline-block;
}

.error-alert svg {
	margin-right: 10px;
	font-size: 12px;
	vertical-align: -.125em;
}

.complete-alert {
	font-weight: 600;
	color: #fff;
	background-color: #34aa44;
	border-color: #34aa44;
}

.complete-alert svg {
	margin-right: 10px;
	font-size: 12px;
	vertical-align: -.125em;
}




#header-step {
	padding-left: 15px;
}

.circle {
	font-size: 12px;
	font-weight: bold;
	float: left;
	margin-right: 6px;
	width: 24px;
	height: 24px;
	line-height: 22px;
	border-radius: 50%;
	color: #4d4d4d;
	text-align: center;
	background-color: #B8B8B8;
	border:1px solid #999999;
}

.active-circle {
	font-size: 12px;
	font-weight: bold;
	float: left;
	margin-right: 6px;
	width: 24px;
	height: 24px;
	line-height: 22px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	background: #2B68D1;
	border-color: #1949AA;
}

th {
	text-transform: uppercase;
}

#validate-step, .remove-step > button {
	margin-left: 6px;
}

table {
	border-bottom: 1px solid #e8e8e8;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}


table thead th {
	background-color: #fdfdfd;
	padding: 9px 15px 9px!important;
	border-bottom: 1px solid #e8e8e8!important;
	color:#999;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
}

table th,
table td {
	border-top: 1px solid #e8e8e8!important;
}

table td {
	padding: 12px 15px!important;
}

table td .row{
	margin-left: 0px!important;
}

table td:first-child {
	padding-right: 0!important;
}

table td:first-child .katex {
	margin-top:2px;
	float:right;
}

table td:first-child .alert .katex {
	margin-top:0;
	float:inherit;
}

table #exercise-case-table td:first-child .katex {
	margin-top:0;
	float:inherit;
}

#bottom {
	margin-right:0!important;
	padding-bottom: 15px;
}

















.title {
	margin-right: 0!important;
}

h4 {
	margin:0;
	padding: 23px 0 10px 0;
	font-size: 18px;
	font-weight: 600;
}

.dropdown {
	margin:14px 0;
}






.btn-outline-secondary {
	color:#000;
	background-image: linear-gradient(to top, #f5f5f5, #fff);
	border-radius: 4px;
	border: solid 1px #e0e0e0;
}

.show>.btn-outline-secondary.dropdown-toggle,
.btn-outline-secondary:hover {
	color:#000;
	background-image: linear-gradient(to top, #e8e8e8, #fff);
	border: solid 1px #e0e0e0;
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}


.dropdown-menu {
	padding:0;
	font-size: 13px;
    /*transform: translate3d(80px, 38px, 0px)!important;*/

}

.dropdown-item {
	padding: 10px 10px;
	font-weight: 400!important;
}

.dropdown-item:hover {
	background-color:#f5f5f5;
}

.dropdown-divider {
	margin:0;
}



button {
	font-weight: 600!important;
	line-height: 1.31!important;
}

.btn {
	font-size: 13px;
	margin-left: 10px;
	padding: 10px 15px;
    border-radius: 4px;
	box-shadow: inset 0 2px 0 0 rgb(255 255 255 / 8%);
}

.btn-sm {
	padding: 5px 10px;
	font-size: 12px;
}

.btn-primary,
.btn-danger {
	color:#fff;
	background-image: linear-gradient(to bottom, #e2001a, #d32118);
	border-color: #af1e16;
}

.btn-primary:hover,
.btn-danger:hover {
	background-image: linear-gradient(to bottom, #d32118, #af1e16);
}

.btn-dark {
	background-image: linear-gradient(to top,#000,#333);
	border-color: #000;
	box-shadow: none;
}




.form-control,
.custom-select {
	font-size: 13px;
	height: 37px;
}

#exercise-container {
	margin-bottom: 1rem;
}

.active {
	color: #2B68D1;
}






.oneWay-body .exercise-step .col-rule{
	vertical-align: middle;
}

.oneWay-body #header-actions {
	padding-left:25px!important;
}

.oneWay-body #new-exercise-container {

}

.oneWay-body #active-step td:first-child,
.twoWay-body #active-step td:first-child {
	padding-top:18px!important;
}

/* Logische Equivalentie */
.twoWay-body #empty-bottom-step td{
	background-color:#FBFBFB;
	height: 52px;
}


.twoWay-body .col-direction {
	padding-left:15px;
	width: 50px;
}

.twoWay-body .exercise-step td{
	vertical-align: middle;
}


.oneWay-body #header-actions,
.oneWay-body #col-actions,
.twoWay-body #header-actions,
.twoWay-body #col-actions {
	width: 165px;
}

.oneWay-body #header-actions,
.twoWay-body #header-actions {
	padding-left:25px!important;
}

.twoWay-body #new-exercise-container .row .col-1 {
	text-align: center;
	padding-top: 5px;
}


.oneWay-body #new-exercise-container .row,
.twoWay-body #new-exercise-container .row{
	margin:0!important;
}

.oneWay-body #new-exercise-container #new-exercise-alert-container,
.twoWay-body #new-exercise-container #new-exercise-alert-container{
	margin-top:10px!important;
	margin-left:15px!important;
	margin-right:15px!important;
}

.oneWay-body #new-exercise-container .row .col-3,
.twoWay-body #new-exercise-container .row .col-3{
	text-align: right;
}

.logax-body #exercise-container .row {
	margin:0!important;
}

.logax-body #proof-container table {
	border: 1px solid #e8e8e8;
}

.logax-body #rule-container {
	border: 1px solid #e8e8e8;
}

.logax-body #rule-container table tr:first-child td{
	border:0!important;
}

.logax-body #rule-container #exercise-alert-container {
	padding:10px;
}

.logax-body #rule-container #exercise-alert-container {
	border-bottom: 1px solid #e8e8e8;
}

.logax-body #rule-container #exercise-alert-container #exercise-alert {
	margin-bottom:0;
}

.logax-body #rule-container #exercise-alert-container #exercise-alert-button {
	clear:both;
	float: left!important;
	margin-left: 0;
 	margin-top: 15px;
}

.logax-body #rule-container #logax-actions {
	padding:8px 0;
}

.logind-body #rule-container table tr:first-child td{
	border:0!important;
}

.logind-body #rule-container {
	border: 1px solid #e8e8e8;
}

.logind-body #case-container table {
	border: 1px solid #e8e8e8;
}

.logind-body #rule-container #logind-actions {
	padding:8px 0;
}

.logind-body #exercise-container .row {
	margin:0!important;
}

.logind-body #rule-container #exercise-alert-container {
	padding:10px;
}

.logind-body #rule-container #exercise-alert-container {
	border-bottom: 1px solid #e8e8e8;
}

.logind-body #rule-container #exercise-alert-container #exercise-alert {
	margin-bottom:0;
}

.logind-body .step-formula {
	background-color: #eaecef;
}

.logind-body #active-step td {
	vertical-align: top;
}


.formula-highlight {
background-color: red;
}

.highlight-text {
	color: #2B68D1;
}

.placeholder-text {
	color: #999;
}

/* #rule-container,
#completed-rule-container {
    border: 1px solid #e5e5e5;
} */

.help-body {
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0px 1px 3px 0 rgb(0 0 0 / 9%);
}

.help-body .nav .nav-item .nav-link {
	padding:15px;
	font-size:13px;
	color:#999;
}

.help-body .nav .nav-item .nav-link.active,
.help-body .nav .nav-item .nav-link:hover {
	color:#000;
}

.help-body #help-dnv video,
.help-body #help-cnv video,
.help-body #help-video-1 video,
.help-body #help-video-2 video,
.help-body #help-video-3 video{
	width: 100%;
	border:1px solid #e5e5e5;
}

.help-body td .katex {
	float: inherit!important;
}

.help-body #help-hotKeys.active h3,
.help-body #help-hotKeys.active p,
.help-body #help-rules.active h3,
.help-body #help-rules.active p {
	color:#000;
}

.help-body #help-hotKeys table,
.help-body #help-rules table {
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
}
